@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 100px;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 4.5rem;
  border-bottom: 1px solid #fbfbfb;
  background-color: #212121;
}
.nav-bar .nav-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #212121;
}
.nav-bar .logo {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.nav-bar .logo svg {
  background-color: #212121;
  z-index: 5;
}
.nav-bar .menu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.nav-bar .menu .main-menu {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  background-color: #212121;
  transition: 0.3s ease-in-out;
}
.nav-bar .menu .main-menu.active {
  top: 70px;
}
.nav-bar .menu .main-menu li {
  list-style: none;
  background-color: transparent;
}
.nav-bar .menu .main-menu li a {
  text-decoration: none;
  background-color: #212121;
  color: #fbfbfe;
  font-weight: 500;
  padding: 25px;
  justify-content: center;
  padding: 0;
  transition: 0.1s ease-in-out;
}
.nav-bar .menu .main-menu li a:hover {
  color: #2563EB;
}
@media screen and (max-width: 920px) {
  .nav-bar .menu .main-menu li a {
    display: flex;
  }
}
.nav-bar .menu .main-menu li:nth-child(1) {
  padding: 1.5rem;
}
.nav-bar .menu .main-menu .dropdown-detected {
  padding: 1.5rem;
}
.nav-bar .menu .main-menu .dropdown-detected .dropdown-menu {
  /* position: absolute;
  padding-block: 22px;
  padding-inline: 15px;
  background-color: #212121;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  align-items: center;
  border-radius: 0 0 .375rem .375rem;
  border-top: 3px solid #2563EB;
  top: 2.8rem;
  z-index: 2; */
  position: absolute;
  padding-inline: 15px;
  background-color: #212121;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
  align-items: center;
  border-radius: 0 0 0.375rem 0.375rem;
  border-top: 3px solid #2563EB;
  top: 4.1rem;
  transform: translateX(-48px) !important;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
.nav-bar .menu .main-menu .dropdown-detected .dropdown-menu li {
  background-color: #212121;
  font-weight: 500;
  padding: 0.7rem;
  transition: 0.1s ease-in-out;
}
.nav-bar .menu .main-menu .dropdown-detected .dropdown-menu li:hover {
  cursor: pointer;
  color: #2563EB;
}
@media screen and (max-width: 920px) {
  .nav-bar .menu .main-menu .dropdown-detected .dropdown-menu {
    position: relative;
    border-radius: 0;
    top: 0;
    transform: none;
    display: none;
  }
}
.nav-bar .menu .main-menu .dropdown-detected:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.nav-bar .menu .main-menu .dropdown-detected .first-dd-menu {
  transform: translateX(-60px) !important;
}
@media screen and (max-width: 920px) {
  .nav-bar .menu .main-menu .dropdown-detected .first-dd-menu {
    transform: none;
  }
}
.nav-bar .menu .main-menu .dropdown-detected.active .dropdown-menu {
  display: block;
}
@media screen and (max-width: 920px) {
  .nav-bar .menu .main-menu {
    position: fixed;
    flex-direction: column;
    top: -260px;
    align-items: center;
    width: 100%;
    z-index: 2;
    gap: 25px;
  }
}
.nav-bar .mode {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-bar .mode div {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #212121;
}
.nav-bar .mode div svg {
  background-color: #212121;
  transition: 0.3s ease-in-out;
}
.nav-bar .mode div svg:hover {
  fill: #2563EB;
  cursor: pointer;
}
@media screen and (max-width: 920px) {
  .nav-bar .mode {
    display: none;
  }
}
.nav-bar .hamburger-icon {
  display: none;
  cursor: pointer;
}
.nav-bar .hamburger-icon .line {
  display: block;
  width: 25px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fbfbfb;
  border-radius: 1rem;
}
@media screen and (max-width: 920px) {
  .nav-bar .hamburger-icon {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
  }
}
.nav-bar .hamburger-icon.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.nav-bar .hamburger-icon.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-bar .hamburger-icon.active .line:nth-child(2) {
  opacity: 0;
}

.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #212121;
  width: 100%;
  height: auto;
  align-items: center;
}
.footer .footer-section {
  height: 100px;
  background-color: #212121;
}
.footer .footer-section div {
  background-color: #212121;
}
.footer .f-section-1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.footer .f-section-1 div:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #212121;
}
.footer .f-section-1 div:nth-child(1) svg {
  height: 60%;
  width: 100%;
  fill: #38B6FF;
  background-color: #212121;
}
.footer .f-section-1 div:nth-child(2) {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #212121;
}
.footer .f-section-1 div:nth-child(2) h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #38B6FF;
  background-color: #212121;
}
.footer .f-section-2 {
  height: auto;
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 10rem;
  padding-bottom: 2rem;
}
.footer .f-section-2 div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .f-section-2 div h4 {
  background-color: #212121;
  color: #38B6FF;
}
.footer .f-section-2 .footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #212121;
}
.footer .f-section-2 .footer-links a {
  background-color: #212121;
  color: #fbfbfb;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}
.footer .f-section-2 .footer-links a:hover {
  color: #55c1ff;
}
.footer .f-section-3 {
  display: flex;
  position: relative;
  width: 768px;
  justify-content: space-between;
  border-top: 1px solid #fbfbfb;
  padding-top: 2rem;
  padding-bottom: 10rem;
}
.footer .f-section-3 .social-media {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.footer .f-section-3 .social-media svg {
  background-color: #212121;
}
.footer .f-section-3 .email-form {
  display: flex;
  align-items: flex-start;
}
.footer .f-section-3 .email-form form {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  gap: 0.2rem;
}
.footer .f-section-3 .email-form form input {
  background-color: #fbfbfb;
  padding: 0.374rem;
  border-radius: 0.2rem;
  border: 1px solid #38B6FF;
}
.footer .f-section-3 .email-form form div {
  margin-bottom: 1rem;
}
.footer .f-section-3 .email-form form div label {
  background-color: transparent;
  color: #fbfbfb;
}
.footer .f-section-3 .email-form form .submit {
  background-color: #38B6FF;
  padding: 0.375rem;
  border: 1px solid #38B6FF;
  border-radius: 0.2rem;
  color: #fbfbfb;
  font-weight: 600;
  cursor: pointer;
}

.components {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 20%;
  width: 80%;
  height: 400px;
}
.components .components-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.components .components-column .components-column-1, .components .components-column .components-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex: 1;
  outline: 1px solid rgba(33, 33, 33, 0.168627451);
  gap: 10px;
  transition: 0.1s ease-in-out;
}
.components .components-column .components-column-1 span, .components .components-column .components-column-2 span {
  color: rgba(33, 33, 33, 0.8705882353);
  font-weight: 600;
}
.components .components-column .components-column-1:hover, .components .components-column .components-column-2:hover {
  box-shadow: inset 0 0 10px #212121;
  cursor: pointer;
}

.cards-section {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  left: 10%;
  width: 80%;
  flex-direction: column;
}
.cards-section h2 {
  padding-bottom: 5%;
}
.cards-section .cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 60px;
}
.cards-section .cards-container .cards-container-c1, .cards-section .cards-container .cards-container-c2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.cards-section .cards-container .cards-container-c1 .card, .cards-section .cards-container .cards-container-c2 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border: 1px solid rgba(33, 33, 33, 0.168627451);
  border-radius: 0.75rem;
  overflow: hidden;
}
.cards-section .cards-container .cards-container-c1 .card div, .cards-section .cards-container .cards-container-c2 .card div {
  display: flex;
  position: relative;
  height: 100%;
}
.cards-section .cards-container .cards-container-c1 .card div img, .cards-section .cards-container .cards-container-c2 .card div img {
  display: flex;
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.cards-section .cards-container .cards-container-c1 .card .card-info, .cards-section .cards-container .cards-container-c2 .card .card-info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box {
  height: 50%;
  gap: 10px;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box .calification, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box .calification {
  display: flex;
  align-items: center;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box .calification .calification-reviews, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box .calification .calification-reviews {
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: rgba(33, 33, 33, 0.7803921569);
  position: relative;
  top: 1px;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box h4, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box h4 {
  font-size: 20px;
  font-weight: 700;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box:nth-child(1), .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box:nth-child(2), .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box:nth-child(2) .button-add button, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box:nth-child(2) .button-add button {
  padding-inline: 3rem;
  padding-block: 0.5rem;
  border: 1px solid #3f9a59;
  border-radius: 0.375rem;
  background-color: #3f9a59;
  color: #fbfbfb;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box:nth-child(2) .button-add button:hover, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box:nth-child(2) .button-add button:hover {
  background-color: #207c3a;
  border: 1px solid #207c3a;
  cursor: pointer;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box:nth-child(2) .button-wish button, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box:nth-child(2) .button-wish button {
  padding-inline: 3.69rem;
  padding-block: 0.5rem;
  border: 1px solid rgba(33, 33, 33, 0.5333333333);
  color: rgba(33, 33, 33, 0.5333333333);
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.cards-section .cards-container .cards-container-c1 .card .card-info .card-info-box:nth-child(2) .button-wish button:hover, .cards-section .cards-container .cards-container-c2 .card .card-info .card-info-box:nth-child(2) .button-wish button:hover {
  background-color: #2563EB;
  border: 1px solid #2563EB;
  color: #fbfbfb;
  cursor: pointer;
}

.slider-container {
  display: flex;
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  overflow: hidden;
}
.slider-container .slider {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: transparent;
  animation: slider 40s linear infinite;
  width: 4000px;
}
.slider-container .slider .slider-brand {
  position: relative;
  display: flex;
}
.slider-container .slider .slider-brand img {
  width: 200px;
  height: fit-content;
  background-color: transparent;
}
@keyframes slider {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

.professionals {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #212121;
}
.professionals .title-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}
.professionals .title-container h2 {
  background-color: #212121;
  color: #fbfbfb;
  height: fit-content;
}
.professionals .pros-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 60%;
  width: 100%;
  background-color: #212121;
}
.professionals .pros-container .pros-individual-container {
  background-color: #212121;
  width: 400px;
  overflow: hidden;
  mask-image: linear-gradient(#212121 10%, transparent);
}
.professionals .pros-container .pros-individual-container img {
  width: 100%;
  background-color: #212121;
}
.professionals .teams-slider-points {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  background-color: #2563EB;
}
.professionals .teams-slider-points .points-container {
  width: 100%;
  height: 50%;
  background-color: #212121;
  display: flex;
  flex: 1;
}
.professionals .teams-slider-points .points-container:nth-child(1), .professionals .teams-slider-points .points-container:nth-child(3) {
  font-size: 1.2rem;
  gap: 20px;
}
.professionals .teams-slider-points .points-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  justify-content: space-evenly;
  align-items: center;
}
.professionals .teams-slider-points .points-container div span {
  background: #212121;
  color: #fbfbfb;
  font-weight: 600;
}
.professionals .teams-slider-points .points-container div span:nth-child(2) {
  height: 2px;
  width: 75%;
  background-color: #2563EB;
}
.professionals .teams-slider-points .points-container .game-animation-container {
  position: relative;
  right: 50px;
}
.professionals .teams-slider-points .points-container .game-animation-container h3 {
  font-size: 1.8rem;
  display: inline-block;
  position: absolute;
  background-color: #212121;
  color: #fbfbfb;
  transform: translateX(-41px);
}
.professionals .teams-slider-points .points-container .game-animation-container .game {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: max-content;
  padding-left: 10px;
  color: #2563EB;
}
.professionals .teams-slider-points .points-container .game-animation-container .game::after {
  content: "League of Legends";
  animation: changeGame 10s linear infinite;
  transition: opacity 0.2s;
}
@keyframes changeGame {
  0%, 18% {
    content: "League of Legends";
    opacity: 1;
  }
  18%, 20% {
    opacity: 0;
  }
  19%, 20% {
    content: "Counter Strike";
    opacity: 0;
  }
  20%, 38% {
    content: "Counter Strike";
    opacity: 1;
  }
  38%, 39% {
    opacity: 0;
  }
  39%, 40% {
    content: "Apex Legends";
    opacity: 0;
  }
  40%, 58% {
    content: "Apex Legends";
    opacity: 1;
  }
  58%, 59% {
    opacity: 0;
  }
  59%, 60% {
    content: "Dota 2";
    opacity: 0;
  }
  60%, 78% {
    content: "Dota 2";
    opacity: 1;
  }
  78%, 79% {
    opacity: 0;
  }
  79%, 80% {
    opacity: "PUBG";
    opacity: 0;
  }
  80%, 98% {
    content: "PUBG";
    opacity: 1;
  }
  98%, 100% {
    opacity: 0;
  }
}
.professionals .teams-slider-points .teams-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #212121 !important;
}
.professionals .teams-slider-points .teams-container .team {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #212121;
}
.professionals .teams-slider-points .teams-container .team a {
  background: none;
}
.professionals .teams-slider-points .teams-container .team img {
  width: auto;
  height: 50px;
  background-color: #212121;
  transition: 0.3s ease-in-out;
}
.professionals .teams-slider-points .teams-container .team img:hover {
  transform: scale(1.1);
  mask-image: linear-gradient(#fbfbfb 10%, transparent);
}

.consult-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.consult-section .form-container {
  width: 400px;
  border: 1px solid #212121;
  border-radius: 0.7rem;
  padding: 2rem;
}
.consult-section .form-container .consult-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 0;
}
.consult-section .form-container form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
}
.consult-section .form-container form .form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.consult-section .form-container form .form-input-container label {
  font-weight: 500;
}
.consult-section .form-container form .form-input-container input {
  padding: 0.6rem 0.375rem;
  border: 1px solid rgba(33, 33, 33, 0.6078431373);
  border-radius: 0.375rem;
}
.consult-section .form-container form .form-input-container select {
  padding: 0.6rem 0.375rem;
  border: 1px solid rgba(33, 33, 33, 0.6078431373);
  border-radius: 0.375rem;
}
.consult-section .form-container form .form-input-container select option {
  padding: 0.6rem 0.375rem;
}
.consult-section .form-container form .form-input-container textarea {
  padding: 0.375rem;
  border: 1px solid rgba(33, 33, 33, 0.6078431373);
  border-radius: 0.375rem;
  resize: none;
  outline: none;
  height: 8rem;
}
.consult-section .form-container form .form-input-container input, .consult-section .form-container form .form-input-container select, .consult-section .form-container form .form-input-container textarea {
  transition: 0.1s ease-in-out;
  font-weight: 500;
}
.consult-section .form-container form .form-input-container input:focus, .consult-section .form-container form .form-input-container select:focus, .consult-section .form-container form .form-input-container textarea:focus {
  outline: 4px solid rgba(56, 182, 255, 0.3568627451);
}
.consult-section .form-container form .form-input-container button {
  padding: 0.6rem 0.375rem;
  border: 1px solid rgba(33, 33, 33, 0.6078431373);
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.consult-section .form-container form .form-input-container button:hover {
  border: 1px solid #38B6FF;
  color: #fbfbfb;
  background-color: #38B6FF;
}
.consult-section .form-container form .form-input-container .select-option {
  transition: 0.3s ease-in-out;
}
.consult-section .form-container form .form-input-container .select-option .problem-container {
  border: 1px solid rgba(33, 33, 33, 0.6078431373);
  padding: 0.6rem 0.375rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.6078431373);
  margin-top: 0.3rem;
}
.consult-section .form-container form .form-input-container .select-option .problem-options-container {
  flex-direction: column;
  border: 1px solid rgba(33, 33, 33, 0.6078431373);
  border-radius: 0.375rem;
  padding: 0.3rem;
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}
.consult-section .form-container form .form-input-container .select-option .problem-options-container span {
  width: 100%;
  padding: 0.6rem 0.075rem;
  cursor: pointer;
  font-weight: 500;
}
.consult-section .form-container form .form-input-container .select-option .problem-options-container span:hover {
  background-color: rgba(56, 182, 255, 0.3568627451);
  border-radius: 0.375rem;
}
.consult-section .form-container form .form-input-container .select-option.active .problem-options-container {
  display: flex;
  opacity: 1;
  visibility: visible;
  border: 1px solid rgba(33, 33, 33, 0.6078431373);
  border-radius: 0.375rem;
  padding: 0.3rem;
  position: absolute;
  width: 100%;
}

.alertMessage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 42%;
  top: 5rem;
  width: 18rem;
  height: 5rem;
  position: fixed;
  background-color: rgba(33, 33, 33, 0.662745098);
  z-index: 2;
  border-left: 5px solid #2563EB;
  border-radius: 0.375rem;
  transition: 0.2s ease forwards;
}
.alertMessage-container span {
  font-size: 1.2rem;
  background-color: transparent;
  font-weight: 600;
  color: #fbfbfb;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.wishlisted-container {
  display: flex;
  position: relative;
  justify-content: end;
  left: 5%;
  width: 90%;
}
.wishlisted-container button {
  padding-inline: 0.5rem;
  padding-block: 1rem;
  border-radius: 0.375rem;
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  height: 100%;
  align-items: end;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}
.wishlisted-container button #fullCart {
  background-color: #3f9a59;
}
.wishlisted-container button .hidesvg {
  display: none;
  transition: 0.2s;
}
.wishlisted-container button .showsvg {
  display: block;
  transition: 0.2s;
}
.wishlisted-container .coloredWishButton {
  background-color: #3f9a59;
  color: #fbfbfb;
  border: 1px solid #3f9a59;
  transition: 0.2s ease;
}

.main-product-container {
  display: flex;
  position: relative;
  left: 5%;
  width: 90%;
}
.main-product-container .product-select-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding-right: 1rem;
}
.main-product-container .product-select-container .prompt-select-container {
  height: 25%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-bottom: 1px solid;
}
.main-product-container .product-select-container .prompt-select-container input {
  border: 1px solid #212121;
  border-radius: 0.375rem;
  padding: 0.3rem;
  outline: none;
  height: 2rem;
}
.main-product-container .product-select-container .prompt-select-container button {
  border: 1px solid #212121;
  border-radius: 0.375rem;
  padding: 0.3rem;
  height: 2rem;
  cursor: pointer;
}
.main-product-container .product-select-container .prompt-select-container button:hover {
  background-color: #38B6FF;
  color: #fbfbfb;
  border: 1px solid #38B6FF;
}
.main-product-container .product-select-container .category-products {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 1.5rem;
}
.main-product-container .product-select-container .category-products .button-filters {
  padding: 0.3rem;
  width: 15rem;
  border: 1px solid #212121;
  border-radius: 0.375rem;
  cursor: pointer;
}
.main-product-container .product-select-container .category-products .button-filters:hover {
  background-color: #212121;
  color: #fbfbfb;
}
.main-product-container .products-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 1.5rem;
  justify-content: space-between;
  background: transparent;
}
.main-product-container .products-container .productCard {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 300px;
  border: 1px solid rgba(33, 33, 33, 0.5333333333);
  border-radius: 0.5rem;
}
.main-product-container .products-container .productCard .image-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
}
.main-product-container .products-container .productCard .image-container img {
  width: 100%;
  object-fit: contain;
}
.main-product-container .products-container .productCard .data-container {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.main-product-container .products-container .productCard .data-container h2 {
  font-size: 1.2rem;
}
.main-product-container .products-container .productCard .data-container span {
  font-size: 1.4rem;
  font-weight: 800;
}
.main-product-container .products-container .productCard .data-container .review-container {
  display: flex;
  width: 100%;
  padding-inline: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}
.main-product-container .products-container .productCard .data-container .review-container span {
  color: rgba(33, 33, 33, 0.5333333333);
  font-size: 1rem;
  font-weight: 400;
}
.main-product-container .products-container .productCard .data-container .buttons-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-product-container .products-container .productCard .data-container .buttons-container .buy-button {
  padding: 0.5rem 7rem;
  border-radius: 0.2rem;
  border: 1px solid #3f9a59;
  background-color: #3f9a59;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.main-product-container .products-container .productCard .data-container .buttons-container .buy-button:hover {
  background-color: #2b6a3d;
  border: 1px solid #2b6a3d;
}
.main-product-container .products-container .productCard .data-container .buttons-container .wish-button {
  padding: 0.5rem 5rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(33, 33, 33, 0.5333333333);
  background-color: #fbfbfb;
  color: rgba(33, 33, 33, 0.5333333333);
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.main-product-container .products-container .productCard .data-container .buttons-container .wish-button:hover {
  background-color: #2563EB;
  border: 1px solid #2563EB;
  color: #fbfbfb;
}
.main-product-container .products-container .hide {
  display: none;
  animation: fadeOut 0.5s forwards;
}
.main-product-container .products-container .show {
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
