* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbfbfb;
    font-family: "DM Sans", sans-serif;
}

body {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}