
.components {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 80%;
    height: 400px;

    .components-column {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;

        .components-column-1, .components-column-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
            flex: 1;
            outline: 1px solid #2121212b;
            gap: 10px;
            transition: 0.1s ease-in-out;

            span {
                color: #212121de;
                font-weight: 600;
            }

            &:hover {
                box-shadow: inset 0 0 10px #212121;
                cursor: pointer;
            }
        }
    }
}

.cards-section {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    width: 80%;
    flex-direction: column;

    h2 {
        padding-bottom: 5%;
    }

    .cards-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 60px;

        .cards-container-c1, .cards-container-c2 {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            gap: 1rem;

            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                height: 400px;
                width: 300px;
                border: 1px solid #2121212b;
                border-radius: 0.75rem;
                overflow: hidden;

                div {
                    display: flex;
                    position: relative;
                    height: 100%;

                    img {
                        display: flex;
                        position: absolute;
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }

                .card-info {
                    display: flex;
                    flex-direction: column;
                    padding: 0.5rem;

                    .card-info-box {
                        height: 50%;
                        gap: 10px;

                        .calification {
                            display: flex;
                            align-items: center;

                            .calification-reviews {
                                display: flex;
                                align-items: center;
                                padding-left: 5px;
                                color: #212121c7;
                                position: relative;
                                top: 1px;
                            }
                        }

                        h4 {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        &:nth-child(1) {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                        }

                        &:nth-child(2) {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .button-add {

                                button {
                                    padding-inline: 3rem;
                                    padding-block: 0.5rem;
                                    border: 1px solid #3f9a59;
                                    border-radius: 0.375rem;
                                    background-color: #3f9a59;
                                    color: #fbfbfb;
                                    font-weight: 600;
                                    transition: 0.2s ease-in-out;

                                    &:hover {
                                        background-color: #207c3a;
                                        border: 1px solid #207c3a;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .button-wish {

                                button {
                                    padding-inline: 3.69rem;
                                    padding-block: 0.5rem;
                                    border: 1px solid #21212188;
                                    color: #21212188;
                                    border-radius: 0.375rem;
                                    font-weight: 600;
                                    transition: 0.2s ease-in-out;

                                    &:hover {
                                        background-color: #2563EB;
                                        border: 1px solid #2563EB;
                                        color: #fbfbfb;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.slider-container {
    display: flex;
    position: relative;
    top: 10%;
    width: 80%;
    overflow: hidden;

    .slider {
        display: flex;
        gap: 50px;
        align-items: center;
        background-color: transparent;
        animation: slider 40s linear infinite;
        width: calc(200px * 20);

        .slider-brand {
            position: relative;
            display: flex;

            img {
                width: 200px;
                height: fit-content;
                background-color: transparent;
            }
        }

        @keyframes slider {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                -webkit-transform: translateX(calc(-200px * 10));
                transform: translateX(calc(-200px * 10));
            }
        }
    }
}

.professionals {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #212121;

    .title-container {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #212121;

        h2 {
            background-color: #212121;
            color: #fbfbfb;
            height: fit-content;
        }
    }

    .pros-container {
        display: flex;
        position: relative;
        justify-content: space-around;
        height: 60%;
        width: 100%;
        background-color: #212121;

        .pros-individual-container {
            background-color: #212121;
            width: 400px;
            overflow: hidden;
            mask-image: linear-gradient(#212121 10%, transparent);

            img {
                width: 100%;
                background-color: #212121;
            }
        }
    }

    .teams-slider-points {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30%;
        width: 100%;
        background-color: #2563EB;

        .points-container {
            width: 100%;
            height: 50%;
            background-color: #212121;
            display: flex;
            flex: 1;

            &:nth-child(1), &:nth-child(3) {
                font-size: 1.2rem;
                gap: 20px;
            }

            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: transparent;
                justify-content: space-evenly;
                align-items: center;

                span {
                    background: #212121;
                    color: #fbfbfb;
                    font-weight: 600;

                    &:nth-child(2) {
                        height: 2px;
                        width: 75%;
                        background-color: #2563EB;
                    }
                }
            }

            .game-animation-container {
                position: relative;
                right: 50px;

                h3 {
                    font-size: 1.8rem;
                    display: inline-block;
                    position: absolute;
                    background-color: #212121;
                    color: #fbfbfb;
                    transform: translateX(-41px);
                }

                .game {
                    display: inline-block;
                    position: absolute;
                    overflow: hidden;
                    width: max-content;
                    padding-left: 10px;
                    color: #2563EB;

                    &::after {
                        content: "League of Legends";
                        animation: changeGame 10s linear infinite;
                        transition: opacity 0.2s;
                    }

                    @keyframes changeGame {
                        0%, 18%{
                            content: "League of Legends";
                            opacity: 1;
                        }
                        18%, 20%{
                            opacity: 0;
                        }
                        19%, 20%{
                            content: "Counter Strike";
                            opacity: 0;
                        }
                        20%, 38%{
                            content: "Counter Strike";
                            opacity: 1;
                        }
                        38%, 39% {
                            opacity: 0;
                        }
                        39%, 40% {
                            content: "Apex Legends";
                            opacity: 0;
                        }
                        40%, 58%{
                            content: "Apex Legends";
                            opacity: 1;
                        }
                        58%, 59%{
                            opacity: 0;
                        }
                        59%, 60%{
                            content: "Dota 2";
                            opacity: 0;
                        }
                        60%, 78%{
                            content: "Dota 2";
                            opacity: 1;
                        }
                        78%, 79%{
                            opacity: 0;
                        }
                        79%, 80%{
                            opacity: "PUBG";
                            opacity: 0;
                        }
                        80%, 98%{
                            content: "PUBG";
                            opacity: 1;
                        }
                        98%, 100%{
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .teams-container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50%;
            background-color: #212121 !important;

            .team {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: #212121;

                a {
                    background: none;
                }

                img {
                    width: auto;
                    height: 50px;
                    background-color: #212121;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        mask-image: linear-gradient(#fbfbfb 10%, transparent);
                    }
                }
            }
        }
    }
}

