
.alertMessage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 42%;
    top: 5rem;
    width: 18rem;
    height: 5rem;
    position: fixed;
    background-color: #212121a9;
    z-index: 2;
    border-left: 5px solid #2563EB;
    border-radius: 0.375rem;
    transition: 0.2s ease forwards;
    
    span {
        font-size: 1.2rem;
        background-color: transparent;
        font-weight: 600;
        color: #fbfbfb;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.wishlisted-container {
    display: flex;
    position: relative;
    justify-content: end;
    left: 5%;
    width: 90%;

    button {
        padding-inline: 0.5rem;
        padding-block: 1rem;
        border-radius: 0.375rem;
        display: flex;
        justify-content: space-evenly;
        width: 15%;
        height: 100%;
        align-items: end;
        font-size: 1.3rem;
        font-weight: 600;
        transition: 0.2s;
        cursor: pointer;

        #fullCart {
            background-color: #3f9a59;
        }

        .hidesvg {
            display: none;
            transition: 0.2s;
        }

        .showsvg {
            display: block;
            transition: 0.2s;
        }
    }

    .coloredWishButton {
        background-color: #3f9a59;
        color: #fbfbfb;
        border: 1px solid #3f9a59;
        transition: 0.2s ease;
    }
}

.main-product-container {
    display: flex;
    position: relative;
    left: 5%;
    width: 90%;

    .product-select-container {
        display: flex;
        flex-direction: column;
        height: 50vh;
        padding-right: 1rem;

        .prompt-select-container {
            height: 25%;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            border-bottom: 1px solid;

            input {
                border: 1px solid #212121;
                border-radius: .375rem;
                padding: 0.3rem;
                outline: none;
                height: 2rem;
            }

            button {
                border: 1px solid #212121;
                border-radius: .375rem;
                padding: 0.3rem;
                height: 2rem;
                cursor: pointer;

                &:hover {
                    background-color: #38B6FF;
                    color: #fbfbfb;
                    border: 1px solid #38B6FF;
                }
            }
        }

        .category-products {
            height: 90%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-block: 1.5rem;

            .button-filters {
                padding: 0.3rem;
                width: 15rem;
                border: 1px solid #212121;
                border-radius: .375rem;
                cursor: pointer;

                &:hover {
                    background-color: #212121;
                    color: #fbfbfb;
                }
            }
        }
    }

    .products-container {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        gap: 1.5rem;
        justify-content: space-between;
        background: transparent;

        .productCard {
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            height: 500px;
            width: 300px;
            border: 1px solid #21212188;
            border-radius: .5rem;

            .image-container {
                width: 100%;
                height: 50%;
                overflow: hidden;
                display: flex;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .data-container {
                display: flex;
                flex-direction: column;
                height: 50%;

                h2 {
                    font-size: 1.2rem;
                }

                span {
                    font-size: 1.4rem;
                    font-weight: 800;
                }

                .review-container {

                    display: flex;
                    width: 100%;
                    padding-inline: 0.5rem;
                    gap: .5rem;
                    align-items: center;

                    span {
                        color: #21212188;
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }

                .buttons-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    .buy-button {
                        padding: 0.5rem 7rem;
                        border-radius: 0.2rem;
                        border: 1px solid #3f9a59;
                        background-color: #3f9a59;
                        color: #fff;
                        font-weight: 600;
                        font-size: 1.1rem;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            background-color: #2b6a3d;
                            border: 1px solid #2b6a3d;
                        }
                    }

                    .wish-button {
                        padding: 0.5rem 5.0rem;
                        border-radius: 0.2rem;
                        border: 1px solid #21212188;
                        background-color: #fbfbfb;
                        color: #21212188;
                        font-weight: 600;
                        font-size: 1.1rem;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            background-color: #2563EB;
                            border: 1px solid #2563EB;
                            color: #fbfbfb;
                        }
                    }
                }
            }
        }

        .hide {
            display: none;
            animation: fadeOut 0.5s forwards
        }

        .show {
            animation: fadeIn 0.5s forwards;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
    }
}