
.main-product-container {
    display: flex;
    position: relative;
    left: 5%;
    width: 90%;
    background-color: #212121;

    .product-select-container {
        display: flex;
        flex-direction: column;
        width: 25%;

        .prompt-select-container {
            height: 10%;
            display: flex;
            justify-content: space-around;

            input {
                border: 1px solid #212121;
                border-radius: .375rem;
                padding: 0.3rem;
                outline: none;
                height: 2rem;
            }

            button {
                border: 1px solid #212121;
                border-radius: .375rem;
                padding: 0.3rem;
                height: 2rem;
                cursor: pointer;

                &:hover {
                    background-color: #38B6FF;
                    color: #fbfbfb;
                    border: 1px solid #38B6FF;
                }
            }
        }

        .category-products {
            height: 90%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .button-filters {
                padding: 0.3rem;
                width: 15rem;
                border: 1px solid #212121;
                border-radius: .375rem;
                cursor: pointer;

                &:hover {
                    background-color: #212121;
                    color: #fbfbfb;
                }
            }
        }
    }

    .products-container {
        width: 75%;
        background-color: #212121;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        gap: 3rem;

        .productCard {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: red;
            overflow: hidden;
            height: 500px;
            width: 300px;

            .image-container {
                width: 100%;
                height: 50%;
                overflow: hidden;
                display: flex;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .data-container {
                display: flex;
                flex-direction: column;
                height: 50%;

                h3 {
                    text-align: center;
                }

                span {
                    font-size: 1.4rem;
                    font-weight: 800;
                }

                .buttons-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    .buy-button {
                        padding: 0.5rem 7rem;
                        border-radius: 0.2rem;
                        border: 1px solid #3f9a59;
                        background-color: #3f9a59;
                        color: #fff;
                        font-weight: 600;
                        font-size: 1.1rem;
                        cursor: pointer;
                    }

                    .wish-button {
                        padding: 0.5rem 5.9rem;
                        border-radius: 0.2rem;
                        border: 1px solid #21212188;
                        background-color: #fbfbfb;
                        color: #21212188;
                        font-weight: 600;
                        font-size: 1.1rem;
                        cursor: pointer;
                    }
                }
            }


        }
    }
}